<div class="sm:w-3/5 mx-auto">
    <div *ngIf="listArticleFinancial.length > 0" class="mb-6">

        <div class="flex justify-between items-center mb-3 px-3 sm:px-0">
            <h2 class="font-bold text-lg text-[#414a57] border-l-4 border-solid border-red-500 pl-2">
                Finansial
            </h2>
        </div>
        <div class="flex gap-5">
            <div class="sm:w-4/5">
                <div class="card">
                    <div class="bg-white p-3 sm:p-5 rounded-md">
                        <div class="pb-2 mb-4 border-b-2 border-solid border-[#dddddd]">
                            <h3 class="font-bold">
                                Popular
                            </h3>
                        </div>
                        <div *ngFor="let data of listArticleFinancial" class="flex justify-between pb-3 mb-4 border-b-[1px] border-solid border-[#dddddd]">
                            <div class="mr-5">
                                <h3 class="title-news text-sm mb-1 overflow-hidden text-ellipsis max-h-[42px]">
                                    <a href="/store/photo-wedding-package" class="font-bold">
                                        {{ data.title }}
                                    </a>
                                </h3>
                                <p class="text-xs text-[#8d8d8d] font-bold">Date: <span>{{ data.published_date | date:'MMMM dd, yyyy' }}</span></p>
                                <div class="mt-2">
                                    <p class="text-[15px] leading-5">
                                        {{ data.abstract }}
                                    </p>
                                </div>
                            </div>
                            <img src="{{data.multimedia[2].url}}" class="object-cover aspect-square rounded-md h-[80px] w-[90px]" alt="{{ data.title }}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="sm:w-1/5">
                cfcfcfcf
            </div>
            
        </div>
    </div>
</div>
